name: e2e-target

on:
  workflow_run:
    workflows:
      - ts
    types:
      - completed

jobs:
  test:
    if: |
      github.actor == 'int128' ||
      github.actor == 'renovate[bot]'
    name: test / ${{ github.event_name }} / ${{ github.event.action }}
    runs-on: ubuntu-latest
    timeout-minutes: 10
    permissions:
      actions: read
      checks: write
      contents: read
    steps:
      - name: Event
        uses: actions/github-script@ed597411d8f924073f98dfc5c65a23a2325f34cd # v8.0.0
        with:
          script: |
            core.info(`eventName=${context.eventName}`)
            core.info(`sha=${context.sha}`)
            core.info(`ref=${context.ref}`)
            core.info(`actor=${context.actor}`)
            core.info(`payload=${JSON.stringify(context.payload, undefined, 2)}`)

      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          ref: ${{ github.event.workflow_run.head_sha }}
      - uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6.0.0
        with:
          node-version-file: .node-version
          package-manager-cache: false
      - run: npm install -g pnpm@latest-10
      - run: pnpm i
      - run: pnpm build

      - uses: ./
        with:
          datadog-api-key: ${{ secrets.DATADOG_API_KEY }}
          collect-job-metrics: true
          collect-step-metrics: true

      - if: always()
        uses: int128/checks-action@99fed590223df057d563c23ea2a6fc4a37076484 # v0.3.0
        with:
          operation: create-check-run
          check-run-name: e2e-target
          details-url: ${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }}
          title: E2E test ${{ job.status }}
          summary: |
            This is an end-to-end test triggered by the completion of the `ts` workflow.
