name: e2e-target

on:
  workflow_run:
    workflows:
      - ts
    types:
      - completed

jobs:
  test:
    name: test / ${{ github.event_name }} / ${{ github.event.action }}
    runs-on: ubuntu-latest
    timeout-minutes: 10
    permissions:
      actions: read
      checks: write
      contents: read
    steps:
      - name: Event
        uses: actions/github-script@60a0d83039c74a4aee543508d2ffcb1c3799cdea # v7.0.1
        with:
          script: |
            core.info(`eventName=${context.eventName}`)
            core.info(`sha=${context.sha}`)
            core.info(`ref=${context.ref}`)
            core.info(`actor=${context.actor}`)
            core.info(`payload=${JSON.stringify(context.payload, undefined, 2)}`)

      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          ref: ${{ github.event.workflow_run.head_sha }}
      - uses: actions/setup-node@cdca7365b2dadb8aad0a33bc7601856ffabcc48e # v4.3.0
        with:
          node-version: 20
      - run: npm install -g pnpm@latest-10
      - run: pnpm i
      - run: pnpm build

      - uses: ./
        with:
          datadog-api-key: ${{ secrets.DATADOG_API_KEY }}
          collect-job-metrics: true
          collect-step-metrics: true

      - if: always()
        uses: actions/github-script@60a0d83039c74a4aee543508d2ffcb1c3799cdea # v7.0.1
        with:
          script: |
            const details_url = `${context.serverUrl}/${context.repo.owner}/${context.repo.repo}/actions/runs/${context.runId}`
            await github.rest.checks.create({
              ...context.repo,
              name: 'e2e-target',
              head_sha: context.payload.workflow_run.head_sha,
              conclusion: '${{ job.status }}',
              details_url,
              output: {
                title: '${{ job.status }}',
                summary: details_url,
              },
            })
