name: e2e

on:
  workflow_run:
    workflows:
      - '**'
    types:
      - completed
  pull_request:
    types:
      - opened
      - closed
  push:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - name: Event
        uses: actions/github-script@v5
        with:
          script: |
            core.info(`eventName=${context.eventName}`)
            core.info(`action=${context.action}`)
            core.info(`sha=${context.sha}`)
            core.info(`ref=${context.ref}`)
            core.info(`actor=${context.actor}`)
            core.info(`payload=${JSON.stringify(context.payload, undefined, 2)}`)

      - uses: int128/datadog-actions-metrics@v1
        with:
          datadog-api-key: ${{ secrets.DATADOG_API_KEY }}
          collect-job-metrics: true
