name: wait-for-workflows

on:
  pull_request:

jobs:
  wait-for-workflows:
    runs-on: ubuntu-slim
    timeout-minutes: 15
    steps:
      - uses: int128/wait-for-workflows-action@a531dff6918aa6dd17b8d6e315cb21c7f4c2bb62 # v1.56.0
